# Logs
logs/
*.log

# Dependencies
node_modules/

# Build artifacts
/public/
/.cache/
/.lighthouseci/
/.firebase/
/gatsby-types.d.ts

# IDE stuff
.idea/
.vscode/

# Generic files
.DS_Store
Thumbs.db
Desktop.ini
