@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .dark .text-shadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  .underline-dotted {
    text-decoration: underline dotted;
  }

  .underline-dashed {
    text-decoration: underline dashed;
  }

  .tag-open::before,
  .tag-close::before,
  .tag-open-close::before {
    margin-right: 0.1rem;
  }

  .tag-open::after,
  .tag-close::after,
  .tag-open-close::after {
    margin-left: 0.1rem;
  }

  .tag-open::before,
  .tag-open-close::before {
    content: '<';
  }

  .tag-close::before {
    content: '</';
  }

  .tag-open::after,
  .tag-close::after {
    content: '>';
  }

  .tag-open-close::after {
    content: '/>';
  }
}
