/** Base classes */
@import '../../css/index.css';

/** Component classes */
@import '../index.css';

@layer base {
  body {
    @apply font-body font-normal antialiased text-left;
    text-underline-position: under;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-medium;
  }

  #header #avatar {
    background-image: url('../../images/avatar/avatar.png');
  }

  #header #avatar:hover {
    background-image: url('../../images/avatar/avatar-smile.png');
    background-color: theme('colors.secondary');
  }

  #header ul li > * {
    @apply lg:border-4 border-primary;
    box-shadow: 0 0.2rem 0 0.09rem theme('colors.typo');
  }

  #menu {
    box-shadow: rgba(255, 255, 255, 0.5) -30px 0 20px -20px inset;
  }

  .dark #menu {
    box-shadow: rgba(0, 0, 0, 0.5) -30px 0 20px -20px inset;
  }

  #menu nav li a::before {
    @apply translate-x-2;
  }

  #menu nav li a::after {
    @apply -translate-x-2;
  }

  #menu nav li a,
  #menu nav li a::before,
  #menu nav li a::after {
    @apply transition-all duration-300;
  }

  #menu nav li a::before,
  #menu nav li a::after {
    @apply inline-block opacity-0;
  }

  #menu nav li li a::before,
  #menu nav li li a::after {
    @apply translate-x-0 opacity-100;
  }

  #menu nav li li a::before {
    content: '{';
  }

  #menu nav li li a::after {
    content: '}\2004\2022';
    margin-left: 0.1rem;
  }

  #menu nav li a.active::before,
  #menu nav li a.active::after,
  #menu nav li a:hover::before,
  #menu nav li a:hover::after {
    @apply translate-x-0 opacity-100;
  }
}
