/** Base classes */
@import '../../css/index.css';

/** Component classes */
@import '../index.css';

@layer base {
  body {
    @apply font-body font-normal antialiased text-left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-medium;
  }

  #header #avatar {
    box-shadow: 0 6px 0 6px theme('colors.typo');
    background-image: url('../../images/avatar/avatar.png');
  }

  #header #avatar:hover {
    background-image: url('../../images/avatar/avatar-smile.png');
    background-color: theme('colors.secondary');
  }

  #header #author h1,
  #header #author h2 {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    letter-spacing: 0.4rem;
  }

  #header ul li > * {
    box-shadow: 0 0 0 4px theme('colors.primary'), 0 3px 0 7px theme('colors.typo');
  }

  #menu {
    box-shadow: rgba(255, 255, 255, 0.5) -30px 0 20px -20px inset;
  }

  .dark #menu {
    box-shadow: rgba(0, 0, 0, 0.5) -30px 0 20px -20px inset;
  }

  #menu nav li a,
  #menu nav li a::before,
  #menu nav li a::after {
    @apply transition-all duration-300;
  }

  #menu nav li a::before,
  #menu nav li a::after {
    @apply inline-block opacity-0;
  }

  #menu nav li a::before {
    content: '<';
    margin-right: 0.25rem;
    transform: translateX(20px);
  }

  #menu nav li a::after {
    content: '/>';
    margin-left: 0.25rem;
    transform: translateX(-20px);
  }

  #menu nav li a.active::before,
  #menu nav li a.active::after,
  #menu nav li a:hover::before,
  #menu nav li a:hover::after {
    @apply opacity-100;
    transform: translateX(0);
  }
}
