/** Base classes */
@import '../../css/index.css';

/** Component classes */
@import '../index.css';

@layer base {
  html {
    @apply text-[11.5px] sm:text-[16px] 3xl:text-[17.5px];
  }

  body {
    @apply font-body font-normal antialiased text-left;
    text-underline-position: under;
    text-underline-offset: 0.1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-medium;
  }

  #header #avatar {
    background-image: url('../../images/avatar/avatar.png');
  }

  #header #avatar:hover {
    @apply bg-secondary;
    background-image: url('../../images/avatar/avatar-smile.png');
  }

  #header ul li > * {
    @apply border-2 lg:border-4 border-primary;
    box-shadow: 0 0.2rem 0 0.09rem theme('colors.typo');
  }

  #menu {
    box-shadow: rgba(255, 255, 255, 0.5) -30px 0 20px -20px inset;
  }

  .dark #menu {
    box-shadow: rgba(0, 0, 0, 0.5) -30px 0 20px -20px inset;
  }

  #menu nav a,
  #menu nav a::before,
  #menu nav a::after {
    @apply inline-block transition-all duration-200;
  }

  #menu nav > ul > li > a::before {
    @apply content-['<'] mr-0.5 translate-x-2 opacity-0;
  }

  #menu nav > ul > li > a::after {
    @apply content-['/>'] ml-1 -translate-x-2 opacity-0;
  }

  #menu nav li li a::after {
    @apply content-['\2000\266F'] ml-1;
  }

  #menu nav > ul > li > a.active::before,
  #menu nav > ul > li > a.active::after,
  #menu nav > ul > li > a:hover::before,
  #menu nav > ul > li > a:hover::after {
    @apply translate-x-0 opacity-100;
  }
}
