.menu-item {
  @apply block font-mono font-medium italic rfs:text-lg text-right text-typo-dim pb-6 pr-6;
}

.menu-item,
.menu-item:before,
.menu-item:after {
  @apply transition-all duration-300;
}

.menu-item.active,
.menu-item:hover {
  @apply text-typo;
}

.menu-item:before,
.menu-item:after {
  @apply inline-block opacity-0;
}

.menu-item:before {
  content: '<';
  margin-right: 0.25rem;
  transform: translateX(20px);
}

.menu-item:after {
  content: '/>';
  margin-left: 0.25rem;
  transform: translateX(-20px);
}

.menu-item.active:before,
.menu-item.active:after,
.menu-item:hover:before,
.menu-item:hover:after {
  @apply opacity-100;
  transform: translateX(0px);
}
