.item {
  @apply block font-display font-medium italic rfs:text-lg text-right text-typo-dim pb-6 pr-6;
}

.item,
.item:before,
.item:after {
  @apply transition-all duration-300;
}

.item.active,
.item:hover {
  @apply text-typo;
}

.item:before,
.item:after {
  @apply inline-block opacity-0;
}

.item:before {
  content: '<';
  margin-right: 0.25rem;
  transform: translateX(20px);
}

.item:after {
  content: '/>';
  margin-left: 0.25rem;
  transform: translateX(-20px);
}

.item.active:before,
.item.active:after,
.item:hover:before,
.item:hover:after {
  @apply opacity-100;
  transform: translateX(0px);
}
