@layer components {
  .typography {
    @apply text-lg;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    & p {
      margin-top: 1.3em;
      margin-bottom: 1.3em;
    }

    & a {
      color: var(--primary);
      font-weight: 500;
    }

    & a:hover {
      text-decoration: underline;
    }

    & strong {
      color: var(--typo-dim);
      font-weight: 600;
    }

    & blockquote {
      font-weight: 500;
      font-style: italic;
      color: var(--primary);
      border-left-width: 0.25rem;
      border-left-color: var(--primary);
      quotes: '\201C' '\201D' '\2018' '\2019';
      margin-top: 1.6em;
      margin-bottom: 1.6em;
      padding-left: 1em;
    }

    & blockquote p:first-of-type::before {
      content: open-quote;
    }

    & blockquote p:last-of-type::after {
      content: close-quote;
    }

    & h1 {
      color: var(--typo);
      font-style: italic;
      font-size: 2.5em;
      margin-bottom: 1em;
      line-height: 1;
    }

    & h2 {
      color: var(--typo);
      font-style: italic;
      font-size: 1.6em;
      margin-top: 2em;
      margin-bottom: 1em;
      line-height: 1.3;
    }

    & h3 {
      color: var(--primary);
      font-size: 1.3em;
      margin-top: 1.6em;
      margin-bottom: 0.6em;
      line-height: 1.6;
    }

    & h4 {
      color: var(--primary);
      font-size: 1.15em;
      margin-top: 1.7em;
      margin-bottom: 0.4em;
      line-height: 1.5;
    }

    & ul {
      @apply space-y-1;
      list-style-type: 'â–';
      padding-left: 1.5rem;

      & > li {
        padding-left: 0.5rem;
      }
    }

    & img {
      margin-top: 1.8em;
      margin-bottom: 1.8em;
    }
  }
}
