@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);

    @nest .dark & {
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .underline {
    text-decoration: underline solid;
    text-decoration-thickness: from-font;
  }

  .underline-dotted {
    text-decoration: underline dotted;
    text-decoration-thickness: from-font;
  }

  .cursor-zoom {
    cursor: zoom-in;
  }

  .page-break {
    page-break-before: always;
  }

  .page-break-avoid {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .columns-2 {
    columns: 2;
    column-gap: 1rem;

    & > * {
      display: inline-block;
    }
  }

  .list-style-diamond {
    list-style-type: 'â–';
    padding-left: 0.65rem;

    & > li {
      padding-left: 0.25rem;
    }
  }
}
