@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  }

  .dark .text-shadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .underline {
    text-decoration: underline solid;
    text-decoration-thickness: from-font;
  }

  .underline-dotted {
    text-decoration: underline dotted;
    text-decoration-thickness: from-font;
  }

  .cursor-zoom {
    cursor: zoom-in;
  }
}
